@font-face {
  font-family: "DMSansRegular";
  src: url("/fonts/dm-sans-regular.ttf") format("truetype");
  font-display: optional;
}

@font-face {
  font-family: "DMSansMedium";
  src: url("/fonts/dm-sans-medium.ttf") format("truetype");
  font-display: optional;
}

@font-face {
  font-family: "DMSansBold";
  src: url("/fonts/dm-sans-bold.ttf") format("truetype");
  font-display: optional;
}

@font-face {
  font-family: "DMSansItalic";
  src: url("/fonts/dm-sans-italic.ttf") format("truetype");
  font-display: optional;
}

@font-face {
  font-family: "DMSansMediumItalic";
  src: url("/fonts/dm-sans-medium-italic.ttf") format("truetype");
  font-display: optional;
}

@font-face {
  font-family: "DMSansBoldItalic";
  src: url("/fonts/dm-sans-bold-italic.ttf") format("truetype");
  font-display: optional;
}

:root {
  font-family: "DMSansRegular", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #080808;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  ::selection {
    background-color: rgba(255, 255, 255, 0.87);
    color: #080808;
  }
}

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
